[class="shadow"]{
filter:url(#DS4);
stroke: rgb(0,0,0);
opacity:1.0;
}
[class="shadow"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.08mm;
	fill:rgb(0,0,0);
	opacity:0.8;
	stroke-opacity:1.0;
	fill-opacity:1.0;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col0"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(194,172,143);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col1"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(76,50,22);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col2"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(161,134,88);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col3"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(226,206,176);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col3"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(226,206,176);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col3"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(226,206,176);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col3"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(226,206,176);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col4"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(187,163,51);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col4"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(187,163,51);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col4"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(187,163,51);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col4"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(187,163,51);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col4"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(187,163,51);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col5"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(95,65,0);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="col5"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(95,65,0);
	opacity:1.0;
	stroke-opacity:0.0;
	fill-opacity:0.7;
}
[class="eye"]{
	stroke:rgba(0,0,0,255);
	stroke-width:0.0mm;
	fill:rgb(255,255,255);
	opacity:1.0;
	stroke-opacity:1.0;
	fill-opacity:1.0;
}
.combined{
animation: move 1s ease-in-out infinite alternate;
}

.eye {
	animation: eyelid 4s ease-in-out infinite alternate;
}

.polygon {
width:1587.38px;
height:1138.14px;
background-color:#A98D6E;
opacity: 0.2;
animation: morph 2s ease-in-out infinite alternate;
}
.polygon0 {
width:1587.38px;
height:1138.14px;
background-color:#A98D6E;
opacity: 0.5;
animation: morph0 0.5s ease-in-out infinite alternate;
}
.polygon1 {
width:1587.38px;
height:1138.14px;
background-color:rgb(194,172,143);
opacity: 0.5;
animation: morph1 0.5s ease-in-out infinite alternate;
}
.polygon2 {
width:1587.38px;
height:1138.14px;
background-color:#A98D6E;
opacity: 0.5;
animation: morph2 0.5s ease-in-out infinite alternate;
}
.polygon3 {
width:1587.38px;
height:1138.14px;
background-color:rgb(194,172,143);
opacity: 0.5;
animation: morph3 0.5s ease-in-out infinite alternate;
}

@keyframes eyelid {
	0% {opacity: 1.0;}
	20% {opacity: 1.0;}
	22% {opacity: 0.0;}
	24% {opacity: 1.0;}
	100% {opacity: 1.0;}
}

@keyframes move {
0% {transform: translate3d(0px, 30px, 0px);}
100% {transform: translate3d(0px, -30px, 0px);}
}

@keyframes morph {
0% {-webkit-clip-path:polygon(38.138851% 36.892737%,31.429269% 12.438113%,33.061224% 21.212121%,34.902776% 37.979873%,38.138851% 36.892737%);clip-path: polygon(38.138851% 36.892737%,31.429269% 12.438113%,33.061224% 21.212121%,34.902776% 37.979873%,38.138851% 36.892737%)}
100% {-webkit-clip-path:polygon(59.423596% 38.095238%,66.133178% 13.640615%,65.106727% 18.860417%,62.659671% 39.182374%,59.423596% 38.095238%);clip-path: polygon(59.423596% 38.095238%,66.133178% 13.640615%,65.106727% 18.860417%,62.659671% 39.182374%,59.423596% 38.095238%)}
}
@keyframes morph0 {
0% {-webkit-clip-path:polygon(20.314227% 61.566418%,0.713422% 67.21108%,19.865739% 58.481039%,20.314227% 61.566418%);clip-path: polygon(20.314227% 61.566418%,0.713422% 67.21108%,19.865739% 58.481039%,20.314227% 61.566418%)}
100% {-webkit-clip-path:polygon(20.314227% 61.566418%,0.170068% 56.998557%,19.865739% 58.481039%,20.314227% 61.566418%);clip-path: polygon(20.314227% 61.566418%,0.170068% 56.998557%,19.865739% 58.481039%,20.314227% 61.566418%)}
}
@keyframes morph1 {
0% {-webkit-clip-path:polygon(19.386227% 53.40329%,1.238507% 65.479596%,0.582417% 67.21108%,19.865739% 58.481039%,19.516701% 56.079395%,19.386227% 53.40329%);clip-path: polygon(19.386227% 53.40329%,1.238507% 65.479596%,0.582417% 67.21108%,19.865739% 58.481039%,19.516701% 56.079395%,19.386227% 53.40329%)}
100% {-webkit-clip-path:polygon(19.386227% 53.40329%,0.695153% 55.267073%,0.039062% 56.998557%,19.865739% 58.481039%,19.516701% 56.079395%,19.386227% 53.40329%);clip-path: polygon(19.386227% 53.40329%,0.695153% 55.267073%,0.039062% 56.998557%,19.865739% 58.481039%,19.516701% 56.079395%,19.386227% 53.40329%)}
}
@keyframes morph2 {
0% {-webkit-clip-path:polygon(75.324524% 60.212476%,98.877717% 65.555246%,75.678412% 56.684451%,75.324524% 60.212476%);clip-path: polygon(75.324524% 60.212476%,98.877717% 65.555246%,75.678412% 56.684451%,75.324524% 60.212476%)}
100% {-webkit-clip-path:polygon(75.324524% 60.212476%,99.213655% 55.95446%,75.678412% 56.684451%,75.324524% 60.212476%);clip-path: polygon(75.324524% 60.212476%,99.213655% 55.95446%,75.678412% 56.684451%,75.324524% 60.212476%)}
}
@keyframes morph3 {
0% {-webkit-clip-path:polygon(76.065915% 51.655811%,97.478409% 62.797948%,98.877717% 65.555246%,75.678412% 56.684451%,76.065915% 51.655811%);clip-path: polygon(76.065915% 51.655811%,97.478409% 62.797948%,98.877717% 65.555246%,75.678412% 56.684451%,76.065915% 51.655811%)}
100% {-webkit-clip-path:polygon(76.065915% 51.655811%,97.814347% 53.197162%,99.213655% 55.95446%,75.678412% 56.684451%,76.065915% 51.655811%);clip-path: polygon(76.065915% 51.655811%,97.814347% 53.197162%,99.213655% 55.95446%,75.678412% 56.684451%,76.065915% 51.655811%)}
}